/*
CSS de la página de contacto
web o pagina: Proyecto Final
autor: Manuel Carrillo
fecha: Febrero de 2021
*/

/*Estilo del main*/
#parallax {
    background-image: url(../media/fotos/alfa/Alfa-Romeo-1900-2.jpg);
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Imagen fija 1*/
#parallax h1 {
    color: #f2f2f2;
    text-align: center;
    font-size:50px;
    font-weight: 100;
    letter-spacing: 5px;
    padding: 25px 50px 25px 50px;
}

/*inputs*/
.contenedor input[type=text],
.contenedor input[type=email],
.contenedor select,
.contenedor textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #f2f2f2;
}

.contenedor {
  margin-top: 25px;
  border-radius: 5px;
  padding: 10px;
  color: firebrick;
}

#contenedor_texto {
    text-align: center;
}

#contenedor_texto p{
    color: black;
}

.columna_contacto {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.columna_contacto p{
    margin: 5px;
    margin-top: 2px;
}

/*Mapa*/
#mapa {
    width: 100%;
    height: 450px;
    border: 1px solid #ccc;
   
}

.fila_contacto:after {
  content: "";
  display: table;
  clear: both;
}

/*Estilo por debajo de 600px*/
@media screen and (max-width: 600px) {

  #parallax{
    height: 450px;
  }

  .salto {
    display: none;
}

  .columna_contacto,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .contenedor{
  margin-top: 25px;
  }

  #mapa {
      height: 300px;
  }
}

