/*
CSS de la página de la tienda
web o pagina: Proyecto Final
autor: Manuel Carrillo
fecha: Abril de 2021
*/

#advertencia {
  height: 650px;
  background-image: url(../media/fotos/lancia/Lancia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;

}

#texto-advertencia {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#texto-advertencia h2 {
  color: #f2f2f2;
  font-size: 50px;
  margin-top: 260px;
}

#contenido-tienda {display: none;}

h1 {
  position: absolute;
  text-align: center;
  top: 35%;
  width: 100%;
  font-size:80px;
  font-weight: 100;
  letter-spacing: 5px;
  color: transparent;
  -webkit-text-stroke: 2px #f2f2f2;
}
  
#parallax {
  background-image: url(../media/fotos/maserati/maserati-a6gcs.webp);
  width: 100%;
  height: 650px;
  background-attachment: fixed;
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  
#titulo {padding: 25px;}
  
.bloque-anuncios {
  display: flex;
  text-align: center;
  font-size: 15px;
  padding: 0 50px;
}
  
.anuncio {
  width: 25%;
  padding-left: 1%;
  padding-bottom: 25px;
  display: block;
  cursor: pointer;
}

.imagen-anuncio {position: relative;}
  
.imagen-anuncio img {
  width: 100%;
  display: block;
}

.overlay-anuncio {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f9f9f9; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: #f9f9f9;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}

.anuncio:hover .overlay-anuncio {
  opacity: 1;
}

.paginacion {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding: 25px 0px 50px 0px;
}

.paginacion a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.paginacion a:hover:not(.active) {background-color: #f9f9f9;}

.paginacion a.active {
  background-color: firebrick;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
  
@media screen and (max-width: 600px) {

  #advertencia {
    height: 500px;
  }

  #texto-advertencia h2 {
    color: #f2f2f2;
    font-size: 25px;
    margin-top: 200px;
    padding: 0px 15px;
  }

    h1 {
      font-size:50px;
      -webkit-text-stroke: 1px #f2f2f2;
    }
  
    #parallax {
      height: 450px;
      background-size: cover;
    }
  
    .bloque-anuncios {display: block;}
  
    .anuncio {width: 100%;}
  
  }