body {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #navbar {
    background-color:#DCDCDC;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.5s;
    border-bottom: #f5f5f5 solid;
  }
  
  #navbar input[type=text],
  input[type=password],
  select,
  textarea{
    width: 120px;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
    resize: vertical;
    background-color: #f4f4f7;
    font-size: 15px;
  }
  
  #topnav-right input[type=submit]{
    color: rgb(14, 14, 14);
    text-align: center;
    margin-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border: none;
    background-color: #DCDCDC;
    text-decoration: none;
    
  }
  
  #topnav-right input[type=submit]:hover{
    color: firebrick;
  }
  
  #cabecera {
    position: relative;
    text-align: center;
    overflow: hidden;
    display: block;
    color: grey;


  }

  #menu{
      float: left;
      font-size: 20px;
      padding-top: 20px;
      padding-left: 20px;
      display: none;
  }

  #logo{
      float: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: firebrick;
      padding-top: 20px;
  }

  #usuario{
      float: right;
      font-size: 20px;
      margin-right: 20px;
      padding-top: 20px;
      padding-left: 30px;
      
  }

  #navegacion{
      padding-left: 15px;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: rgb(14, 14, 14);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
  }
  
  #topnav-right {
    float: right;
  }
  
  #navbar a:hover {
  
    color: firebrick;
  }
  

  
  
  * {
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #eeeef0;
  }
  
  input[type=submit] {
    background-color:firebrick;
    color: white;
    padding: 12px 20px;
    border: 1px solid firebrick;
    cursor: pointer;
    transition: 0.5s;
  }
  
  input[type=submit]:hover {
    background-color: #ffffff;
    color: firebrick;
    border: firebrick;
    border-style: solid;
    border-width: 1px;
  }
  
  /* Style the container/contact section */
  .contenedor {
    margin-top: 100px;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
    color: firebrick;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
  
    .column,
    input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  
    #navbar a,
    #topnav-right {
      visibility: hidden;
    }
  
    #navbar {
      height: 70px;
      transition: top 0.5s;
    }
  
    .contenedor{
    margin-top: 80px;
  }
  #menu{
      display: block;
  }
  }
  
  
  
  .footer {
    padding: 20px;
    /* Some padding */
    text-align: center;
    /* Center text*/
    background: white;
    /* Grey background */
    color: firebrick;
  }